.pres{
    display: flex;
    margin: 100px 0;
    width: 50vw
}

.pres p img{
    width: 300px;
    float: left;
    margin: 10px;
    border-radius: 10px;
}

.pres p{
    text-align: justify;
    color: white;
    font-size: 150%;
}